body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// Color variables (appears count calculates by raw css)
@color2: #fafafa; // Appears 2 times

.contextMenu {
	background: @color2;
	border: 1px solid #BDBDBD;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 250px;
	z-index: 999999;
	li {
		border-bottom: 1px solid #E0E0E0;
		margin: 0;
		padding: 5px 35px;
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			background: #1E88E5;
			color: @color2;
		}
	}
}

// Color variables (appears count calculates by raw css)
@color0: #336699; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width1: 0; // Appears 2 times


.tree {
	color:@color0;
	list-style:none;
	margin:0 0 0 1em;
	padding:0;
	position:relative;
	ul {
		color:@color0;
		list-style:none;
		margin-left:.5em;
		margin:0 0 0 1em;
		padding:0;
		position:relative;
		&:before {
			border-left:1px solid;
			bottom:0;
			content:"";
			display:block;
			left:0;
			position:absolute;
			top:0;
			width:@width1;
		}
	}
	&:before {
		border-left:1px solid;
		bottom:0;
		content:"";
		display:block;
		left:0;
		position:absolute;
		top:0;
		width:@width1;
	}
	li {
		font-weight:bold;
		line-height:2em;
		margin:0;
		padding:0 1.5em;
		position:relative;
		&:before {
			border-top:1px solid;
			content:"";
			display:block;
			height:0;
			left:0;
			margin-top:-1px;
			position:absolute;
			top:1em;
			width:10px;
		}
		&:last-child {
			before {
				background:white;
				bottom:0;
				height:auto;
				top:1em;
			}
		}
	}
}