<template>
<div>
    <div class="container">
        <div class="notification">
            <span class="is-size-3">Factories</span>
            <button class="button is-info is-pulled-right modal-button" data-target="create-factory-modal" aria-haspopup="true" @click="showCreateModal">Create Factory</button>
        </div>
    </div>

    <div class="container" style="padding-top:25px;padding-left:10px;">
        <div v-if="factories.length > 0">
            <span class="is-size-4">Root</span>
            <ul class="tree">
                <li v-for="factory in factories" :key="factory.id" style="margin-top:15px;">
                    <span class="is-size-5">{{ factory.name }}</span> 
                    <a class="button is-info is-small is-radiusless" style="margin-left:5px;" @click="showGenerateModal(factory)"><i :class="'icon ion-md-' + ((factory.children != null && factory.children.length > 0) ? 'swap' : 'add')"></i></a>
                    <a class="button is-primary is-small is-radiusless" style="margin-left:5px;" @click="showEditModal(factory)"><i class="icon ion-md-create"></i></a>
                    <a class="button is-danger is-small is-radiusless" style="margin-left:5px;" @click="deleteFactory(factory.id)"><i class="icon ion-md-trash"></i></a>
                    <factory-nodes :data="factory"></factory-nodes>
                </li>
            </ul>
        </div>

        <span v-else class="is-size-4">No factories have been created.</span>
    </div>

    <div id="create-factory-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create New Factory</p>
                <button class="delete" aria-label="close" @click="removeCreateModal"></button>
            </header>
            <section class="modal-card-body">
                <div v-if="factoryForm.error.length > 0" class="notification is-danger">
                    {{ factoryForm.error }}
                </div>

                <input class="input" type="text" placeholder="Factory Name" v-model="factoryForm.name">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click="store(); removeCreateModal();">Create Factory</button>
                <button class="button" @click="removeCreateModal">Cancel</button>
            </footer>
        </div>
    </div>

    <div id="edit-factory-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit Factory</p>
                <button class="delete" aria-label="close" @click="removeEditModal"></button>
            </header>
            <section class="modal-card-body">
                <div v-if="editForm.error.length > 0" class="notification is-danger">
                    {{ editForm.error }}
                </div>

                <input class="input" type="text" placeholder="Factory Name" v-model="editForm.name">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click="editFactory(); removeEditModal();">Save Factory</button>
                <button class="button" @click="removeEditModal">Cancel</button>
            </footer>
        </div>
    </div>

    <div id="generate-children-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ generateForm.factory.name }} - Generate Children</p>
                <button class="delete" aria-label="close" @click="removeGenerateModal"></button>
            </header>
            <section class="modal-card-body">
                <div v-if="generateForm.error.length > 0" class="notification is-danger">
                    {{ generateForm.error }}
                </div>

                <div class="field">
                    <label class="label">Amount to Generate</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="15" v-model="generateForm.amount">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Minimum Number</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="15" v-model="generateForm.min">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Max Number</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="15" v-model="generateForm.max">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click="generateChildren(); removeGenerateModal();">Generate Children</button>
                <button class="button" @click="removeGenerateModal">Cancel</button>
            </footer>
        </div>
    </div>
</div>
</template>

<script>
module.exports = {
    data() {
        return {
            factoryForm: {
                name: '',
                error: '',
            },
            editForm: {
                factoryId: 0,
                name: '',
                error: '',
            },
            generateForm: {
                factory: {},
                amount: 15,
                min: 0,
                max: 100,
                error: '',
            },
            factories: {},
        }
    },

    mounted() {
        this.get();
    },

    methods: {
        get() {
            this.axios.get('/api/factory').then(response => {
                this.factories = response.data;
            }).catch(error => {
                console.log(error);
            })
        },

        store() {
            this.factoryForm.error = '';

            this.axios.post('/api/factory/create', {
                name: this.factoryForm.name,
            }).then(response => {
                this.get();

                this.factoryForm.name = '';
                this.factoryForm.error = '';
            }).catch(error => {
                this.factoryForm.error = error.messsage
            })
        },

        editFactory() {
            this.editForm.errors = '';

            this.axios.patch('/api/factory/' + this.editForm.factoryId, {
                name: this.editForm.name
            }).then(response => {
                this.get();

                this.editForm.factoryId = 0;
                this.editForm.name = '';
                this.editForm.error = '';
            }).catch(error => {
                this.editForm.error = error.message;
            })
        },

        deleteFactory(id) {
            this.axios.delete('/api/factory/' + id).then(response => {
                this.get();
            });
        },

        generateChildren() {
            this.generateForm.error = '';

            this.axios.post('/api/factory/' + this.generateForm.factory.id + '/generate', {
                amount: this.generateForm.amount,
                min: this.generateForm.min,
                max: this.generateForm.max,
            }).then(response => {
                this.get();

                this.generateForm.factory = {};
                this.generateForm.amount = 15,
                this.generateForm.min = 0;
                this.generateForm.max = 100;
                this.generateForm.error = '';
            }).catch(error => {
                this.generateForm.error = error.message;
            })
        },

        showGenerateModal(factory) {
            this.generateForm.factory = factory;
            $('#generate-children-modal').addClass('is-active');
        },

        removeGenerateModal() {
            $('#generate-children-modal').removeClass('is-active');
        },

        showEditModal(factory) {
            this.editForm.factoryId = factory.id;
            this.editForm.name = factory.name;
            $('#edit-factory-modal').addClass('is-active');
        },

        removeEditModal() {
            $('#edit-factory-modal').removeClass('is-active');
        },

        showCreateModal() {
            $('#create-factory-modal').addClass('is-active');
        },

        removeCreateModal() {
            $('#create-factory-modal').removeClass('is-active');
        }
    }

    // mounted() {
    //     this.axios.post('/api/factory/create', {
    //         //name: 'Factory',
    //         //amount: 5,
    //         min: 1,
    //         max: 100,
    //     }).then(r => {
    //         console.log(r.data);
    //     }).catch(error => {
    //         console.log(error.message);
    //     });
    // }
}
</script>
